# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class
*.so
*.o
*.log


# Pycharm
.idea/*

# results dir
.hydra
/results
/files
/test*

spectral_papers/

*.ipynb_checkpoints/
wandb/
*.cpp

.DS_Store
**/._.DS_Store

# Offline data
dynamics_checkpoints/
dynamics_dataset/
